body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#navbar {
  background-color: #07D1E3
}

#formItem{
  display: inline-block;
  text-align: center;
  margin-top: 50px;
}

#holder{
  position:absolute;
	width:100%;
	height:100%;
}

#home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#karma-positive {
  color: green
}

#karma-negative {
  color: red
}

.hide_staged_resources {
  display: none
}

.show_staged_resources {
  display: block
}

#like_btn:hover {
  color: green
}

#like_btn {
  margin-left: 5px;
  margin-right: 5px;
}

#dislike_btn {
  margin-left: 5px;
}

#dislike_btn:hover {
  color: red;
}

#report_btn {
  margin-left: 5px;
}

#report_btn:hover {
  color: orange;
}

#show_reports_btn {
  margin-left: 5px;
}

#create_btn {
  margin-top: 50px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.164);  
  margin: 16px 24px 16px 0;
  float: left;
}

.layout {
  background-color: white;
  padding-bottom:60px;
}

.footer {
  position:fixed;
  left:0;
  bottom:0;
  right:0;
}

.container {
  margin: 5rem;
}

.left-div {
  float: left;
  width: 40%;
}
.right-div {
  float: right;
  width: 40%;
}

.left-div:after {
  content: "";
  background-color: black;
  position: absolute;
  width: 3px;
  height: 75%;
  top: 100px;
  left: 50%;
  display: block;
}